@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;700&display=swap');

/* PROJECT COLORS */
$color-primary: #3f51b5;
$color-secondary: #bac2f1;
$color-white: #ffffff;
$color-error: #d36565;

/* Fonts */
$font-primay: 'Urbanist', sans-serif;
